<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Leuris's project", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-left">
                    @if (Session["EmailSS"] != null)
                    {
                        <li>@Html.ActionLink("Crear departamento", "CrearDepartamento", "Departamento")</li>
                        <li>@Html.ActionLink("Crear documento", "CrearDocumento", "Documentos")</li>
                        <li>@Html.ActionLink("Inicio", "Index", "Home", "", new { @class = "pull-left" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Leuris Castillo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    // Write on keyup event of keyword input element
    $(document).ready(function () {
        $("#buscar").keyup(function () {
            _this = this;
            // Show only matching TR, hide rest of them
            $.each($("#Lista tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
                    $(this).hide();
                else
                    $(this).show();
            });
        });
    });
</script>

<!-- vertexShader -->
<script id="js-vertex-shader" type="x-shader/x-vertex">
      attribute vec3 position;

    void main()	{
      gl_Position = vec4(position, 1.0);
    }
</script>

