@model IEnumerable<CapaEntidad.Documentos>

@{
    ViewBag.Title = "Reporte de documentos";
}

<h2>Documentos</h2>

<div class="form-group">
    <input type="text" class="form-control pull-right" style="width:20%" id="buscar" placeholder="Nombre del usuario...">
</div>

@using (Html.BeginForm("Index", "Documentos"))
{
    @Html.Editor("primeraFecha", new { htmlAttributes = new { @class = "form-control pull-left", @placeholder = "Ingrese la fecha desde" } })
    @Html.Editor("segundaFecha", new { htmlAttributes = new { @class = "form-control pull-left", @placeholder = "Ingrese la fecha hasta" } })
    <input type="submit" value="Filtrar" class="btn btn-default" />
}

<table class="table" id="Lista">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartamentoOrigen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartamentoDestino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Secuencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartamentoOrigen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartamentoDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Secuencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
            </td>
        </tr>
    }

</table>
