@model IEnumerable<CapaEntidad.Usuarios>

@{
    ViewBag.Title = "Reporte de usuario";
}

<h2>Usuarios registrados</h2>

<div class="form-group">
    <input type="text" class="form-control pull-right" style="width:20%" id="buscar" placeholder="Nombre del usuario...">
</div>

<table class="table", id="Lista">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraseña)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar") |
                @Html.ActionLink("Eliminar", "Eliminar")
            </td>
        </tr>
    }

</table>
